@model SortInfo

<div class="dropdown show border ">

    <a class="btn btn-light dropdown-toggle sortName" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @(Model.Sort.Find(x => x.Value == Model.PageInfo.Selected.Sort)?.Name)
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var s in Model.Sort)
        {
            <form action=@Model.PageInfo.Url method="get">
                @if (Model.PageInfo.Selected.Search != null)
                {
                    <input type="hidden" value=@Model.PageInfo.Selected.Search name="q">
                }
                @if (Model.PageInfo.Selected.SelectedSubCategories.Count != 0)
                {
                    @foreach (var c in @Model.PageInfo.Selected.SelectedSubCategories)
                    {
                        <input type="hidden" value="@c" name="c">
                    }

                }
                @if (Model.PageInfo.Selected.Brands.Count != 0)
                {
                    @foreach (var b in @Model.PageInfo.Selected.Brands)
                    {
                        <input type="hidden" value=@b name="b">
                    }

                }
                @if (Model.PageInfo.Selected.Price != null)
                {
                    <input type="hidden" value=@Model.PageInfo.Selected.Price name="prc">
                }


                <input type="hidden" value="@s.Value" name="s">
                <button type="submit" class="btn btn-light dropdown-item sortValue">@s.Name</button>
            </form>
        }
    </div>
</div>
