@{
    Layout = "_adminLayout";
    var categoriesAndBrands = ViewBag.Categories as IEnumerable<MainCategoryModel>;
}
@model List<MainCategoryModel>
@section Css{
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
}
@section Scripts{
    <script src="//cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script>

        $('#myTable').DataTable({
            responsive: true
        });

        $('#myTable1').DataTable({
            responsive: true
        });
        $('#myTable2').DataTable({
            responsive: true
        });
        $('#myTable3').DataTable({
            responsive: true
        });

    </script>

    <script>
        $('#deleteModel').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('bsUserid')
            var title = button.data('bsTitle')
            var action = button.data('bsAction')
            var typeCategory = button.data('bsTypecategory')
            $('.modal-header h1').text(title)
            $('#deleteEntityId').val(id)
            $('.modal-content form').prop("action", action)
            if (typeCategory === "brand") {
                $('.modal-body .brandProductCount').empty()
                $('.modal-footer .brandDelete').prop("disabled", false)
                $.get("@Url.Action("CheckBrandProducts","admin")", { id: id }, function (data) {
                    if(data.productCount>0){
                        $('.modal-body .brandProductCount').text(`${data.productCount} product using brand cant delete it`)
                        $('.modal-footer .brandDelete').prop("disabled", true)
                    }
                    

                });
            }
            
        })
    </script>

    
    @*CreateModelScript*@
    <script type="text/javascript">
        var mainCategoryId = 0
        var categoryId = 0
        var subCategoryId = 0


        var selected = `
                       <div class="input-group mb-3 mainCategorySelectedBox" style="display:none;">
                           <div class="input-group-prepend">
                               <label class="input-group-text" for="inputGroupSelect01">Main Category</label>
                           </div>
                           <select  class="form-control mainCategorySelected" onchange="mainCategoryChange(this)">
                               <option selected disabled>Choose</option>
        @foreach (var item in Model)
        {
                                       <option value=@item.Id>@item.Name</option>
        }
                           </select>

                       </div>
                       <div class="input-group mb-3 categorySelectedBox"  style="display:none;">
                           <div class="input-group-prepend">
                               <label class="input-group-text" for="inputGroupSelect01">Category</label>
                           </div>
                           <select  disabled="disabled"  class="form-control categorySelected" onchange="categoryChange(this)">
                               <option selected disabled>Choose</option>

                           </select>

                       </div>

                       <div class="input-group mb-3 subCategorySelectedBox" style="display:none;">
                           <div class="input-group-prepend">
                               <label class="input-group-text" for="inputGroupSelect01">Sub Category</label>
                           </div>
                           <select disabled="disabled" class="form-control subCategorySelected" onchange="subCategoryChange(this)">
                               <option selected disabled>Choose</option>
                           </select>

                       </div>`

        var inputs = `
                       <div class="input-group input-group-sm mb-3">
                           <div class="input-group-prepend">
                               <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
                           </div>
                                   <input class="form-control" id="editNameInput" placeHolder="Name" name="name" aria-label="Name" aria-describedby="inputGroup-sizing-sm">
                       </div>
                       <div class="input-group input-group-sm mb-3">
                           <div class="input-group-prepend">
                               <span class="input-group-text" id="inputGroup-sizing-sm">Url</span>
                           </div>
                                           <input class="form-control " id="editUrlInput" placeHolder="Url" name="url" aria-label="Url" aria-describedby="inputGroup-sizing-sm">
                       </div>
                            `

        function addFeature(){
            $('.featureBox').append(`
               <div class="input-group input-group-sm mb-3">
                       <div class="input-group-prepend">
                           <span class="input-group-text" id="inputGroup-sizing-sm">Feature Name</span>
                       </div>
                                             <input class="form-control " placeHolder="Name" name="features" aria-label="features" aria-describedby="inputGroup-sizing-sm">
                        <div class="input-group-prepend">
                           <span class="input-group-text" id="inputGroup-sizing-sm">
                            <button type="button" class="btn-close" aria-label="Close" onclick="closeFeature(this)"></button>
                           </span>
                        </div>
                           </div>
            `)
        }

        function closeFeature(tag){
            tag.parentElement.parentElement.parentElement.remove()
        }

        function onShow(event,typee) {
            var button = $(event.relatedTarget)
            var name = button.data('bsName')
            var url = button.data('bsUrl')
            var id = button.data('bsId')
            mainCategoryId = button.data('bsMaincategoryid')
            categoryId = button.data('bsCategoryid')
            subCategoryId = button.data('bsSubcategoryid')
            var title = button.data('bsTitle')
            var action = button.data('bsAction')
            var type = button.data('bsType')

            

            
            $(document).ready(function () {
                if(typee=="edit"){
                    
                $('.mainCategorySelected').prop("disabled", true)
                $('#editModel .form-col #editNameInput').val(name)
                $('#editModel .form-col #editUrlInput').val(url)
                $('#editModel  #entityId').val(id)

                var options = $('.mainCategorySelected option')
                for (let i = 0; i < options.length; i++) {
                    if (options[i].value == mainCategoryId) {
                        options[i].setAttribute('selected', true)
                    }
                }
                
                $('#mainCategoryIdValue').val(mainCategoryId)

                if(mainCategoryId!=undefined){
                    $.post("@Url.Action("FilterCategoryAndBrands","admin")", { mainCategoryId: mainCategoryId }, function (data) {
                    $('.categorySelected').empty()
                    if (data.id == mainCategoryId) {
                        for (var j = 0; j < data.categories.length; j++) {
                            var option = document.createElement("option");
                            option.value = data.categories[j].id;
                            option.text = data.categories[j].name;
                            $('.categorySelected').append(option);
                        }
                        var options1 = $('.categorySelected option')
                        for (let i = 0; i < options1.length; i++) {
                            if (options1[i].value == categoryId) {
                                options1[i].setAttribute('selected', true)
                            }
                        }
                    }

                });
                }
                if(mainCategoryId!=undefined && categoryId!=undefined){
                    $.post("@Url.Action("FilterCategoryAndBrands","admin")", { mainCategoryId: mainCategoryId, categoryId: categoryId }, function (data) {

                        $('.subCategorySelected').empty()
                        if (data.id == categoryId) {
                            for (var j = 0; j < data.subCategories.length; j++) {
                                var option = document.createElement("option");
                                option.value = data.subCategories[j].id;
                                option.text = data.subCategories[j].name;
                                $('.subCategorySelected').append(option);
                            }
                        }

                        var options1 = $('.categorySelected option')
                        for (let i = 0; i < options1.length; i++) {
                            if (options1[i].value == categoryId) {
                                options1[i].setAttribute('selected', true)
                            }
                        }
                        var options2 = $('.subCategorySelected option')
                        for (let i = 0; i < options2.length; i++) {
                            if (options2[i].value == subCategoryId) {
                                options2[i].setAttribute('selected', true)
                            }
                        }
                    });


                        $.get("@Url.Action("GetFeatures","admin")", { subCategoryId: parseInt(id) }, function (data) {

                       $('.featureBox').empty()
                       for(let i=0;i<data.length;i++){
                                $('.featureBox').append(`
                                <div class="input-group input-group-sm mb-3">
                               <div class="input-group-prepend">
                                           <span class="input-group-text" id="inputGroup-sizing-sm">Feature Name</span>
                               </div>
                                                                             <input class="form-control " placeHolder="Name" name="features" value='${data[i].featureName}' aria-label="features" aria-describedby="inputGroup-sizing-sm">
                                <div class="input-group-prepend">
                                   <span class="input-group-text" id="inputGroup-sizing-sm">
                                    <button type="button" class="btn-close" aria-label="Close" onclick="closeFeature(this)"></button>
                                   </span>
                                </div>
                                   </div>`)

                        
                       }

                       
                   });

                }
                

                
                
                
            }

            })



            $('.modal-content form .mainCategorySelectedBox').hide()
            $('.modal-content form .categorySelectedBox').hide()
            $('.modal-content form .subCategorySelectedBox').hide()


            $('.modal-header h1').text(title)
            $('.modal-content form').prop("action", action)
            
            $('.modal-content form .form-col').empty()
            $('.modal-content form .form-selected').empty()
            $('.modal-content form .form-selected').append(selected)
            $('.modal-content form .form-col').append(inputs)

            if (type == "1") {
                $('.modal-content form .mainCategorySelectedBox').show()

                $('.modal-content form .form-col').append(`
                                     <input type="hidden" name="mainCategoryId" class="mainCategoryIdValue" required value=${mainCategoryId != undefined?mainCategoryId:""} >

                                            `)

            }
            if (type == "2") {
                $('.modal-content form .mainCategorySelectedBox').show()
                $('.modal-content form .categorySelectedBox').show()

                $('.modal-content form .form-col').append(`
                                            <input type="hidden" name="categoryId" class="categoryIdValue" required value=${categoryId != undefined?categoryId:""}>
                                            <div  class="mt-3 featureBox"></div>
                                    <div class="d-flex justify-content-end">
                                           <button type="button" class="btn btn-sm btn-outline-secondary" onclick="addFeature()">Add Feature</button>
                                    </div>


                                    `)
            }
            if (type == "3") {
                $('.modal-content form .mainCategorySelectedBox').show()
                $('.modal-content form .categorySelectedBox').show()
                $('.modal-content form .subCategorySelectedBox').show()

                $('.modal-content form .form-col').append(`
                                                   <input type="hidden" name="subCategoryId" class="subCategoryIdValue" required value=${subCategoryId != undefined?subCategoryId:""}>

                                   `)


            }
        }


        $('#editModel').on('show.bs.modal', function (event) {
            onShow(event,"edit")
        })

        $('#createModel').on('show.bs.modal', function (event) {
            onShow(event,"create")
        })
    </script>

    <script>
        

        function mainCategoryChange(ev) {
            let categorySelected = $('.categorySelected')
            let subCategorySelected = $('.subCategorySelected')
            categorySelected.empty()
            categorySelected.append('<option selected disabled>Choose</option>')
            categorySelected.prop("disabled", false)

            subCategorySelected.empty()
            subCategorySelected.append('<option selected disabled>Choose</option>')
            subCategorySelected.prop("disabled", true)

            $('.features').empty()

            mainCategoryId = parseInt(ev.value)
            $('.mainCategoryIdValue').val(mainCategoryId)
            $.post("@Url.Action("FilterCategoryAndBrands","admin")", { mainCategoryId: mainCategoryId }, function (data) {
                if (data.id === mainCategoryId) {
                    for (var j = 0; j < data.categories.length; j++) {
                        var option = document.createElement("option");
                        option.value = data.categories[j].id;
                        option.text = data.categories[j].name;
                        categorySelected.append(option);
                    }
                }

            });
        }

        function categoryChange(ev) {
            let subCategorySelected = $('.subCategorySelected')
            subCategorySelected.empty()
            subCategorySelected.append('<option selected disabled>Choose</option>')

            $('.features').empty()

            subCategorySelected.prop("disabled", false)
            categoryId = parseInt(ev.value)
            $('.categoryIdValue').val(categoryId)
            $.post("@Url.Action("FilterCategoryAndBrands","admin")", { mainCategoryId: mainCategoryId, categoryId: categoryId }, function (data) {
                if (data.id === categoryId) {
                    for (var j = 0; j < data.subCategories.length; j++) {
                        var option = document.createElement("option");
                        option.value = data.subCategories[j].id;
                        option.text = data.subCategories[j].name;
                        subCategorySelected.append(option);
                    }
                }
            });
        }

        function subCategoryChange(ev) {
            subCategoryId = parseInt(ev.value)
            $('.subCategoryIdValue').val(subCategoryId)
            $.post("@Url.Action("FilterCategoryAndBrands","admin")", { mainCategoryId: mainCategoryId, categoryId: categoryId, subCategoryId: subCategoryId }, function (data) {

                $('.features').empty()
                for (var i = 0; i < data.subCategoryFeatures.length; i++) {
                    $('#features').append(`
                                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">${data.subCategoryFeatures[i].name}</span>
                        </div>
                            <input type="hidden" class="form-control" required name="features" value='${data.subCategoryFeatures[i].name}'>
                        <input type="text" class="form-control values" oninput="inputValue(this)" required name="values" value="">
                    </div>`);
                }

            });
        }

    </script>

}
<style>
    .link{

        color:black;
    }
</style>

<div class="modal fade" id="createModel" tabindex="-1" aria-labelledby="createModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createModelLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="GET">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            
                            <div class=" form-selected"></div>
                            <div class=" form-col"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-sm-12 ">
                            <button type="submit" class="btn btn-primary mt-3 w-100">Save</button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editModel" tabindex="-1" aria-labelledby="createModelLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModelLabel"></h1>                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="GET">
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div class=" form-selected"></div>
                            <input type="hidden" id="entityId" name="entityId">
                            <div class=" form-col">



                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group row">
                        <div class="col-sm-12 ">
                            <button type="submit" class="btn btn-primary mt-3 w-100">Save</button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModelLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Are you sure?</h3>
                <h3 class="brandProductCount"></h3>
            </div>
            <div class="modal-footer">
                <form method="GET">
                    <input type="hidden" id="deleteEntityId" name="entityId">
                    <button type="submit" class="btn btn-danger btn-sm brandDelete">Delete</button>

                </form>
                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" aria-label="Close">Cancel</button>

            </div>

        </div>
    </div>
</div>

<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active link" id="maincategory-tab" data-bs-toggle="tab" data-bs-target="#maincategory" type="button" role="tab" aria-controls="maincategory" aria-selected="true">Main Category</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link link" id="category-tab" data-bs-toggle="tab" data-bs-target="#category" type="button" role="tab" aria-controls="category" aria-selected="false">Category</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link link" id="subcategory-tab" data-bs-toggle="tab" data-bs-target="#subcategory" type="button" role="tab" aria-controls="subcategory" aria-selected="false">Sub Category</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link link" id="brand-tab" data-bs-toggle="tab" data-bs-target="#brand" type="button" role="tab" aria-controls="brand" aria-selected="false">Brand</button>
    </li>
</ul>


<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="maincategory" role="tabpanel" aria-labelledby="maincategory-tab">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h4 mt-3">Main Category List</h1>
                <hr>
                <button type="button" class="btn btn-primary btn-sm mb-3" data-bs-type="0" data-bs-action="createmaincategory" data-bs-title="Create Main Category" data-bs-toggle="modal" data-bs-target="#createModel">Create Main Category</button>
                <table id="myTable" class="table table-striped ">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Url</td>
                            <td>Category Count</td>
                            <td>Edit</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Url</td>
                                    <td>@item.Categories.Count</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-type="0" data-bs-action="editmaincategory" data-bs-title="Edit Main Category" data-bs-toggle="modal" data-bs-name="@item.Name" data-bs-url="@item.Url" data-bs-target="#editModel">Edit</button>

                                        <button type="button" @(item.Categories.Count == 0 ? "" : "disabled") class="btn btn-danger btn-sm" data-bs-action="deletemaincategory" data-bs-typecategory="maincategory" data-bs-title="Delete Main Category" data-bs-userid="@item.Id" data-bs-toggle="modal" data-bs-target="#deleteModel">Delete</button>

                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <div class="alert alert-warning">
                                <h3>No Users</h3>
                            </div>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="tab-pane fade" id="category" role="tabpanel" aria-labelledby="category-tab">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h4 mt-3">Category List</h1>
                <hr>
                <button type="button" class="btn btn-primary btn-sm mb-3" data-bs-type="1"  data-bs-action="CreateCategory" data-bs-title="Create Category" data-bs-toggle="modal" data-bs-target="#createModel">Create Category</button>
                <table id="myTable1" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Url</td>
                            <td>Main Category</td>
                            <td>Edit</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            @foreach (var item in Model.SelectMany(x=>x.Categories))
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Url</td>
                                    <td>@item.MainCategory.Name</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-type="1" data-bs-mainCategoryId=@item.MainCategoryId data-bs-categoryId=@item data-bs-action="editcategory" data-bs-title="Edit Category" data-bs-toggle="modal" data-bs-name="@item.Name" data-bs-url="@item.Url" data-bs-id=@item.Id data-bs-target="#editModel">Edit</button>

                                        <button type="button" @(item.SubCategories.Count == 0 ? "" : "disabled") class="btn btn-danger btn-sm" data-bs-action="deletecategory" data-bs-typecategory="category" data-bs-title="Delete Category" data-bs-userid="@item.Id" data-bs-toggle="modal" data-bs-target="#deleteModel">Delete</button>

                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <div class="alert alert-warning">
                                <h3>No Users</h3>
                            </div>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    <div class="tab-pane fade" id="subcategory" role="tabpanel" aria-labelledby="subcategory-tab">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h4 mt-3">Sub Category List</h1>
                <hr>
                <button type="button" class="btn btn-primary btn-sm mb-3" data-bs-type="2" data-bs-action="createsubcategory" data-bs-title="Create Sub Category" data-bs-toggle="modal" data-bs-target="#createModel">Create Sub Category</button>
                <table id="myTable2" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Url</td>
                            <td>Category</td>
                            <td>Edit</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            @foreach (var item in Model.SelectMany(x => x.Categories).SelectMany(x => x.SubCategories))
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Url</td>
                                    <td>@item.Category.Name</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-type="2" data-bs-mainCategoryId=@item.Category.MainCategoryId data-bs-categoryId=@item.CategoryId data-bs-categoryId=@item data-bs-action="editsubcategory" data-bs-title="Edit Sub Category" data-bs-toggle="modal" data-bs-name="@item.Name" data-bs-url="@item.Url" data-bs-id=@item.Id data-bs-target="#editModel">Edit</button>

                                        <button type="button" @(item.Brands.Count == 0 ? "" : "disabled") class="btn btn-danger btn-sm" data-bs-action="deletesubcategory" data-bs-typecategory="subcategory" data-bs-title="Delete Sub Category" data-bs-userid="@item.Id" data-bs-toggle="modal" data-bs-target="#deleteModel">Delete</button>

                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <div class="alert alert-warning">
                                <h3>No Users</h3>
                            </div>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    <div class="tab-pane fade" id="brand" role="tabpanel" aria-labelledby="brand-tab">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h4 mt-3">Brands List</h1>
                <hr>
                <button type="button" class="btn btn-primary btn-sm mb-3" data-bs-type="3" data-bs-action="createbrand" data-bs-title="Create Brand" data-bs-toggle="modal" data-bs-target="#createModel">Create Brand</button>
                <table id="myTable3" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Url</td>
                            <td>Sub Category</td>
                            <td>Edit</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            @foreach (var item in Model.SelectMany(x => x.Categories).SelectMany(x => x.SubCategories).SelectMany(x => x.Brands))
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Url</td>
                                    <td>@item.SubCategory.Name</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm" data-bs-type="3" data-bs-mainCategoryId=@item.SubCategory.Category.MainCategoryId data-bs-categoryId=@item.SubCategory.CategoryId data-bs-subcategoryId=@item.SubCategoryId data-bs-categoryId=@item data-bs-action="editbrand" data-bs-title="Edit Brand" data-bs-toggle="modal" data-bs-name="@item.Name" data-bs-url="@item.Url" data-bs-id=@item.Id data-bs-target="#editModel">Edit</button>

                                        <button type="button" @(item.Products.Count == 0 ? "" : "disabled") class="btn btn-danger btn-sm" data-bs-action="deletebrand" data-bs-typecategory="brand" data-bs-title="Delete Brand" data-bs-userid="@item.Id" data-bs-toggle="modal" data-bs-target="#deleteModel">Delete</button>

                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <div class="alert alert-warning">
                                <h3>No Users</h3>
                            </div>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModelLabel">Delete Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3>Are you sure?</h3>
            </div>
            <div class="modal-footer">
                <form asp-controller="admin" asp-action="ProductDelete" style="display: inline;">
                    <input id="deleteInput" type="hidden" name=productId value="">
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
                <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" aria-label="Close">Cancel</button>

            </div>

        </div>
    </div>
</div>



