@model ProductModel
@{
    Layout = "_adminLayout";
    var categoriesAndBrands = ViewBag.Categories as IEnumerable<MainCategoryModel>;
    Console.WriteLine(categoriesAndBrands.Count());
    Console.WriteLine(categoriesAndBrands.ToList()[0].Categories[0].SubCategories.Count());
}
<style>
    .custom-file-button input[type=file] {
  margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
  display: none;
}

.custom-file-button input[type=file]::file-selector-button {
  display: none;
}

.custom-file-button:hover label {
  background-color: #dde0e3;
  cursor: pointer;
}

</style>
<form asp-controller="admin" asp-action="productedit" method="post">
    <input type="hidden" name="Id" id="productIdInput" value="@Model.Id">
    
    <div asp-validation-summary="All" class="text-danger"></div>
    @{
        var selectedMainCategoryId = categoriesAndBrands?.ToList()[0].Id;
    }
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Main Category</label>
        </div>
        <select asp-for="MainCategoryId" id="mainCategorySelected" asp-items=@(new SelectList(categoriesAndBrands,"Id","Name")) class="form-control">
            <option selected disabled>Choose</option>
            
        </select>
        
    </div>
    <span asp-validation-for="MainCategoryId" class="text-danger"></span>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Category</label>
        </div>
        <select asp-for="CategoryId"   id="categorySelected" asp-items=@(new SelectList(categoriesAndBrands.FirstOrDefault(x=>x.Id==Model.MainCategoryId).Categories,"Id","Name"))  class="form-control">
            <option selected disabled>Choose</option>
        </select>
        
    </div>
    <span asp-validation-for="CategoryId" class="text-danger"></span>
    
    <div class="input-group mb-3 " >
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Sub Category</label>
        </div>
        
        <select asp-for="SubCategoryId" asp-items=@(new SelectList(categoriesAndBrands?.FirstOrDefault(x=>x.Id==Model.MainCategoryId)?.Categories?.FirstOrDefault(x=>x.Id==Model.CategoryId)?.SubCategories,"Id","Name")) id="subCategorySelected" class="form-control">
            <option selected disabled>Choose</option>
        </select>
        
    </div>
    <span asp-validation-for="SubCategoryId" class="text-danger"></span>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Brand</label>
        </div>
        <select asp-for="BrandId" id="brandSelected" asp-items=@(new SelectList(categoriesAndBrands.FirstOrDefault(x=>x.Id==Model.MainCategoryId).Categories.FirstOrDefault(x=>x.Id==Model.CategoryId).SubCategories.FirstOrDefault(x=>x.Id==Model.SubCategoryId).Brands,"Id","Name")) class="form-control">
            <option selected disabled>Choose</option>
        </select>
        
    </div>
    <span asp-validation-for="BrandId" class="text-danger"></span>
    
    <hr>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="Name">Name</label>
        </div>
        <input asp-for="Name" id="nameInput" class="form-control">
        
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="Url">Url</label>
        </div>
        <input asp-for="Url" type="text" id="urlInput" class="form-control">

    </div>
    <span asp-validation-for="Url" class="text-danger"></span>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="Price">Price</label>
        </div>
        <input asp-for="Price" class="form-control">
        
    </div>
    <span asp-validation-for="Price" class="text-danger"></span>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="Stock">Stock</label>
        </div>
        <input asp-for="Stock" min="0"  class="form-control">
        
    </div>
    <span asp-validation-for="Stock" class="text-danger"></span>
    
    <div id="features" class="mt-3">
        @foreach (var feature in Model.SubCategoryFeatureValues)
        {
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">@feature.SubCategoryFeature.Name</span>
                </div>
                <input type="hidden" class="form-control" required name="features" value='@feature.SubCategoryFeature.Name'>
                <input type="text" class="form-control" oninput="inputValue(this)" required name="values" value='@feature.Value'>
            </div>
        }
        
    </div>
    
    
    <div class="form-group">
        <textarea id="editor" asp-for="Description" value="@Model.Description" class="form-control" ></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="button" class="btn btn-outline-secondary mt-3"  data-bs-imageName="asd" data-bs-toggle="modal" data-bs-target="#deleteModel">Select Images</button>

    
    <input type="hidden" id="homeImageUrl" asp-for="HomeImageUrl">
    
    <p id="imageSelectText" class="mt-3"></p>
    
    <p id="imageSelectTextWarning" style="color:red;"></p>
    <div id="imagesBox" style="display: block;" >
        <div id="images" class="mt-3 m-0 row border border-3">
            @foreach(var image in Model.Images){
                <div class="col-2 p-0" style="position: relative;">
                    <button type="button" class="btn-close" onclick="cancelSelected(this)" aria-label="Close" data-imageUrl=@image.Url style="position:absolute;right:0;top:0;z-index: 10;background-color: white;"></button>
                    <div class="m-1 border border-3 p-1 rounded imageUrl text-center @(Model.HomeImageUrl==image.Url?"border-success":"")" style="position: relative;" onclick="imageClick(this,'@image.Url')">
                        <img src=/img/@image.Url class="p-1" height=120  alt="" style="object-fit: contain;width:100%;">
                        <input type="hidden" name="imageUrls" value=@image.Url>

                    </div>
                </div>
            }
        </div>
    </div>
    
    
    <button class="btn btn-primary mt-3" type="submit" id="submit">Submit</button>

</form>

<div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModelLabel">Select Images</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
					<input class="form-control mr-sm-2" id="imageSearch" type="text" placeholder="Images">
					
                    <div id="imageList" class="row mt-3" style="overflow: scroll;max-height:30rem;"></div>
                </div>
                <div class="modal-footer">
                        <button type="button"  class="btn btn-primary btn-sm" onclick="refreshImages()" data-bs-dismiss="modal" aria-label="Close">Select</button>
                        <button type="button"  class="btn btn-primary btn-sm" data-bs-dismiss="modal" aria-label="Close">Cancel</button>

                </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#imageSearch').on('input', function (ev) {
            for (var i = 0; i < $('.imageItem').length; i++) {
                if (!$('.imageItem')[i].children[0].children[0].title.includes($(this).val())) {
                    $('.imageItem')[i].style.display = "none"

                }
                else {
                    $('.imageItem')[i].style.display = "block"
                }
            }
        })
    })
    var imageUrlList=[]

    var imageInputs=$('[name="imageUrls"]')
    for(let i=0;i<imageInputs.length;i++){
        imageUrlList.push(imageInputs[i].value)
        $('#imageSelectText').append(` {${imageInputs[i].value}} `)
    }

    function addImage(url){
        imageUrlList.push(url)
    }
    function removeImage(url){
        imageUrlList.splice(imageUrlList.indexOf(url),1)

    }
    function cancelSelected(img){
        $(document).ready(function() {
            if($('#homeImageUrl').val()===img.dataset.imageurl){
                $('#homeImageUrl').val('')
                $('#submit').prop("disabled", true)
            }
            removeImage(img.dataset.imageurl)
            refreshImages()
        });
        
    }
    function inputValue(tag) {
        if (tag.value == "") {
            tag.style.borderColor = "red"
            $('#submit').prop("disabled", true)
        } else {
            tag.style.borderColor = ""
            $('#submit').prop("disabled", false)
        }
    }

    function refreshImages(){
        $('#imagesBox').css("display","block")
        $('#images').empty()
        $('#imageSelectText').empty()
        if(imageUrlList.indexOf($('#homeImageUrl').val())==-1){
            $('#homeImageUrl').val('')
            $('#submit').prop("disabled", true)
        }
        if($('#homeImageUrl').val()==""){
            $('#imageSelectTextWarning').empty()
            $('#imageSelectTextWarning').append("Please home image select!!")
        }
        
        if(imageUrlList.length<1){
            $('#submit').prop("disabled", true)
        }
        
        for(let i=0;i<imageUrlList.length;i++){
            $('#imageSelectText').append(` {${imageUrlList[i]}} `)
            $('#images').append(`
                <div class="col-2 p-0" style="position: relative;">
                    <button type="button" class="btn-close" onclick="cancelSelected(this)"  aria-label="Close" data-imageUrl=${imageUrlList[i]} style="position:absolute;right:0;top:0;z-index: 10;background-color: white;"></button>
                <div class="m-1 border border-3 p-1 rounded imageUrl text-center" style="position: relative;" onclick="imageClick(this,'${imageUrlList[i]}')">
                    <img src=/img/${imageUrlList[i]} class="p-1" height=120  alt="" style="object-fit: contain;width:100%;">
                    <input type="hidden"  name="imageUrls" value=${imageUrlList[i]}>

                </div>
                </div>
            `)
            if($('#homeImageUrl').val()==imageUrlList[i]){
                var imageE=$(`[data-imageUrl="${imageUrlList[i]}"]`)
                imageE.parent().children()[1].classList.add("border-success")
            }
        }
        
    }

    function imageClick1(img){
        if(img.dataset.click=="0"){
            img.dataset.click="1"
            addImage(img.dataset.img)
        }else{
            removeImage(img.dataset.img)
            img.dataset.click="0"
        }
        $(img).toggleClass("border-success") 
        $(img).toggleClass("border-3")
    }

    $('#nameInput').on("input", function () {
        let text=$(this).val().replaceAll(" ","-")
        $('#urlInput').val(text.toLowerCase())
    })
    function imageClick (img,name){
        $('.imageUrl').removeClass("border-success")
        $(img).toggleClass("border-success") 
        $('#homeImageUrl').val(name)
        $('#imageSelectTextWarning').empty()
        $('#submit').prop("disabled", false)
    }

    $('#deleteModel').on('show.bs.modal', function (event) {
        $.get("@Url.Action("ImagesUrls","admin")", function (data) {
           $('#imageList').empty()
           for(let i=0;i<data.length;i++){
                $('#imageList').append(`
                <div class="col-2   imageItem p-0">
                    <div class="p-1  ">
                        <img src='/img/${data[i]}' title=${data[i]} onclick="imageClick1(this)" data-img=${data[i]} data-click=0  class="p-1 border" height=120  alt="" style="object-fit: contain;width:100%;">
                            <h6>${data[i]}</h6>
                        </div>
                </div>

           
           `)
            
            
           }
           var tag=$("[data-img]")
            for(let i=0;i<tag.length;i++){
                if(imageUrlList.indexOf(tag[i].dataset.img)!=-1){
                    tag[i].classList.add("border-success")
                    tag[i].classList.add("border-3")
                    tag[i].dataset.click="1"
                }
            }
           
        
        });
        
    })

    let categorySelected = $('#categorySelected')
    let subCategorySelected = $('#subCategorySelected')
    let brandSelected = $('#brandSelected')
    let mainCategoryId = parseInt($('#mainCategorySelected').val())
    let categoryId = parseInt(categorySelected.val())
    let subCategoryId = parseInt(subCategorySelected.val())
    $('#nameInput').on("input", function () {
        let text = $(this).val().replaceAll(" ", "-")
        $('#urlInput').val(text.toLowerCase())
        $.post("@Url.Action("IsUrl","admin")", { url: text }, function (data) {
            if (data) {
                $('#urlInput').css("border-color", "red")
                $('#submit').prop("disabled", true)
            }
            else {
                $('#urlInput').css("border-color", "")
                $('#submit').prop("disabled", false)
            }

        });

    })
    $('#urlInput').on("input", function () {
        let text = $(this).val().replaceAll(" ", "-")

        $.post("@Url.Action("IsUrl","admin")", { url: text }, function (data) {
            if (data) {
                $('#urlInput').css("border-color", "red")
                $('#submit').prop("disabled", true)
            }
            else {
                $('#urlInput').css("border-color", "")
                $('#submit').prop("disabled", false)
            }

        });
    })
    
    $('#mainCategorySelected').on("change", function () {
        categorySelected.empty()
        categorySelected.append('<option selected disabled>Choose</option>')
        categorySelected.prop("disabled", false)

        subCategorySelected.empty()
        subCategorySelected.append('<option selected disabled>Choose</option>')
        subCategorySelected.prop("disabled", true)

        brandSelected.empty()
        brandSelected.append('<option selected disabled>Choose</option>')
        brandSelected.prop("disabled", true)
        $('#features').empty()
        mainCategoryId = parseInt($(this).val())
        $.post("@Url.Action("FilterCategoryAndBrands","admin")", { mainCategoryId: mainCategoryId }, function (data) {
            if (data.id === mainCategoryId) {
                for (var j = 0; j < data.categories.length; j++) {
                    var option = document.createElement("option");
                    option.value = data.categories[j].id;
                    option.text = data.categories[j].name;
                    categorySelected.append(option);
                }
            }
            
         });
    })


    
    categorySelected.on("change", function () {
        subCategorySelected.empty()
        subCategorySelected.append('<option selected disabled>Choose</option>')

        brandSelected.empty()
        brandSelected.append('<option selected disabled>Choose</option>')
        brandSelected.prop("disabled", true)
        $('#features').empty()
        subCategorySelected.prop("disabled", false)
        categoryId = parseInt($(this).val())
        $.post("@Url.Action("FilterCategoryAndBrands","admin")", { mainCategoryId:mainCategoryId, categoryId: categoryId }, function (data) {
            if (data.id === categoryId) {
                for (var j = 0; j < data.subCategories.length; j++) {
                    var option = document.createElement("option");
                    option.value = data.subCategories[j].id;
                    option.text = data.subCategories[j].name;
                    subCategorySelected.append(option);
                }
            }
        });
    })
    subCategorySelected.on("change", function () {
        brandSelected.empty()
        brandSelected.append('<option selected disabled>Choose</option>')
        brandSelected.prop("disabled", false)
        subCategoryId = parseInt($(this).val())
        $.post("@Url.Action("FilterCategoryAndBrands","admin")", { mainCategoryId: mainCategoryId, categoryId: categoryId, subCategoryId: subCategoryId }, function (data) {
            console.log(data)
            if (data.id === subCategoryId) {
                for (var j = 0; j < data.brands.length; j++) {
                    var option = document.createElement("option");
                    option.value = data.brands[j].id;
                    option.text = data.brands[j].name;
                    brandSelected.append(option);
                }
            }
            $('#features').empty()
            for (var i = 0; i < data.subCategoryFeatures.length; i++) {
                    $('#features').append(`
                        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">${data.subCategoryFeatures[i].name}</span>
        </div>
            <input type="hidden" class="form-control" required name="features" value='${data.subCategoryFeatures[i].name}'>
            <input type="text" class="form-control" oninput="inputValue(this)" required name="values" value="">
    </div>`);
            }
            
        });
    })

</script>
<script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
<script src="/modules/ckeditor/ckeditor.js"></script>
<script>
    let editor=CKEDITOR.replace('editor',{
            filebrowserBrowseUrl: "/admin/BrowseImages"
    });
</script>



