@model PageInfo
<div class="d-flex flex-wrap">
    @foreach (var filter in @Model.Selected.SelectedSubCategories)
    {
        <div class="border border-dark d-flex rounded align-middle me-2 mt-1 p-1 align-middle">
            <h6 class="m-0">@filter</h6>
            <form action=@Model.Url method="get" class="d-flex" style="align-items:center;">
                @if (@Model.Selected.Search != null)
                {
                    <input type="hidden" value=@Model.Selected.Search name="q">
                }
                @if (@Model.Selected.Brands != null)
                {
                    @foreach (var b in Model.Selected.Brands)
                    {
                        <input type="hidden" value=@b name="b">

                    }
                    
                }
                @if (Model.Selected.SelectedSubCategories.Count != 0)
                {
                    @foreach (var c in Model.Selected.SelectedSubCategories)
                    {
                        if (c != filter)
                        {
                            <input type="hidden" value=@c name="c">
                        }

                    }

                }
                @if (@Model.Selected.Price != null)
                {
                    <input type="hidden" value=@Model.Selected.Price name="prc">
                }
                @if (@Model.Selected.Sort != 1)
                {
                    <input type="hidden" value=@Model.Selected.Sort name="s">
                }
                <button type="submit" class="btn-close" style="width:5px;height:5px;"></button>
            </form>

        </div>

    }
    @if (Model.Selected.Search != null)
    {
        <div class="border border-dark d-flex rounded align-middle me-2 p-1 align-middle">
            <h6 class="m-0">@Model.Selected.Search</h6>
            <form action=@Model.Url method="get" class="d-flex" style="align-items:center;">
                @if (Model.Selected.SelectedSubCategories.Count != 0)
                {
                    @foreach (var c in Model.Selected.SelectedSubCategories)
                    {
                        <input type="hidden" value=@c name="c">

                    }

                }
                @if (@Model.Selected.Brands != null)
                {
                    @foreach (var b in Model.Selected.Brands)
                    {
                        <input type="hidden" value=@Model.Selected.Brands name="b">

                    }
                }
                @if (Model.Selected.Price != null)
                {
                    <input type="hidden" value=@Model.Selected.Price name="prc">
                }
                @if (Model.Selected.Sort != 1)
                {
                    <input type="hidden" value=@Model.Selected.Sort name="s">

                }
                <button type="submit" class="btn-close" style="width:5px;height:5px;"></button>
            </form>

        </div>

    }

    @if (Model.Selected.Price != null)
    {
        <div class="border border-dark d-flex rounded align-middle me-2 p-1 align-middle">
            <h6 class="m-0">@Model.Selected.Price</h6>
            <form action=@Model.Url method="get" class="d-flex" style="align-items:center;">
                @if (Model.Selected.Search != null)
                {
                    <input type="hidden" value=@Model.Selected.Search name="q">
                }
                @if (Model.Selected.SelectedSubCategories.Count != 0)
                {
                    @foreach (var c in @Model.Selected.SelectedSubCategories)
                    {
                        <input type="hidden" value=@c name="c">

                    }

                }
                @if (@Model.Selected.Brands != null)
                {
                    @foreach (var b in Model.Selected.Brands)
                    {
                        <input type="hidden" value=@b name="b">

                    }
                }
                @if (Model.Selected.Sort != 1)
                {
                    <input type="hidden" value=@Model.Selected.Sort name="s">

                }
                <button type="submit" class="btn-close"></button>
            </form>

        </div>

    }

    @foreach (var filter in @Model.Selected.Brands)
    {
        <div class="border border-dark d-flex rounded align-middle me-2 p-1 align-middle">
            <h6 class="m-0">@filter</h6>
            <form action=@Model.Url method="get" class="d-flex" style="align-items:center;">
                @if (@Model.Selected.Search != null)
                {
                    <input type="hidden" value=@Model.Selected.Search name="q">
                }
                @if (@Model.Selected.Brands != null)
                {
                    @foreach (var b in Model.Selected.Brands)
                    {
                        if (b != filter)
                        {
                            <input type="hidden" value=@b name="b">
                        }

                    }
                }
                @if (Model.Selected.SelectedSubCategories.Count != 0)
                {
                    @foreach (var c in Model.Selected.SelectedSubCategories)
                    {
                      <input type="hidden" value=@c name="c">

                    }

                }
                @if (@Model.Selected.Price != null)
                {
                    <input type="hidden" value=@Model.Selected.Price name="prc">
                }
                @if (@Model.Selected.Sort != 1)
                {
                    <input type="hidden" value=@Model.Selected.Sort name="s">
                }
                <button type="submit" class="btn-close" style="width:5px;height:5px;"></button>
            </form>

        </div>

    }

</div>