<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopApp</title>
    
    <link href="/modules/@("@fortawesome")/fontawesome-free/css/fontawesome.css" rel="stylesheet">
    <link href="/modules/@("@fortawesome")/fontawesome-free/css/brands.css" rel="stylesheet">
    <link href="/modules/@("@fortawesome")/fontawesome-free/css/solid.css" rel="stylesheet">
    
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @await RenderSectionAsync("Css", required: false)
    <link rel="stylesheet" href="~/shopapp.web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @await Html.PartialAsync("_navbar")
    </header>

    
    <div class="container mt-1">
        <main role="main" class="pb-3">
            
                    @if (TempData["message"] != null)
                    {
                        <partial name="_resultMessage" model="@(TempData.Get<AlertMessage>("message"))" />
                    }
                    @RenderBody()
            
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ShopApp
        </div>
    </footer>
    <script src="/modules/jquery/dist/jquery.min.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/modules/@("@fortawesome")/fontawesome-free/js/fontawesome.js"></script>
    <script src="/modules/@("@fortawesome")/fontawesome-free/js/brands.js"></script>
    <script src="/modules/@("@fortawesome")/fontawesome-free/js/solid.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
