@model SortInfo

<div class="dropdown show border ">

    <a class="btn btn-light dropdown-toggle sortName" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @(Model.Sorts.Find(x=>x.Value==Model.SelectedSort)?.Name)
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var s in Model.Sorts)
        {
            <form action="/product" method="get">
                @if (Model.SelectedCategory.Length != 0)
                {
                    @foreach (var c in Model.SelectedCategory)
                    {
                        <input type="hidden" value="@c" name="c">
                    }
                    
                }
                @if (Model.SelectedPrice != null)
                {
                    <input type="hidden" value="@Model.SelectedPrice" name="prc">
                }
                
                
                <input type="hidden" value="@s.Value" name="s">
                <button type="submit" class="btn btn-light dropdown-item sortValue">@s.Name</button>
            </form>
        }
    </div>
</div>
