@model CartDTO


<h1 class="h3">Shopping Cart</h1>
<hr>
	
<div class="row">
    <div class="col-md-8">
        <div class="col-md-4">
        <div class="text-left">
            <h4>Cart Items</h4>
        </div>
    </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>ProductName</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td>
                            <img src="~/img/@item.Product.ImageUrl" width="80"  alt="">
                        </td>
                        <td>@item.Product.Name</td>
                        <td>@item.Product.Price</td>
                        <td>@item.Quantity</td>
                        <td>@(item.Quantity*@item.Product.Price)</td>
                        <td>
                            <form asp-controller="Cart" asp-action="DeleteToCart" method="post" style="display:inline;" class="form-inline">
                                <input type="hidden" name="productId" value="@item.ProductId">
                                <button class="btn btn-danger p-1" type="submit">Sil</button>
                            </form>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-md-4">
        <div class="text-left">
            <h4>Cart Summary</h4>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Cart Total</th>
                    <td>@Model.TotalPrice().ToString("c")</td>
                </tr>
                <tr>
                    <th>Shipping</th>
                    <th>Free</th>
                </tr>
                <tr>
                    <th>Order Total</th>
                    <th>@Model.TotalPrice().ToString("c")</th>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary">
                <a href="/Product" class="btn btn-primart">Alışverişe devam et</a>
            </button>
            <button class="btn btn-primary">
                <a href="/checkout" class="btn btn-primart">Alışverişi Tamamla</a>
            </button>
           
        </div>
    </div>
</div>