@model List<OrderModel>

<style>
	.orderLink{
		text-decoration:none;
		color:gray;
	}


</style>

<h3>Orders</h3>



@foreach (var order in Model)
{

	<div class="border border-secondary border-1">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-12 col-lg-10 pe-0">
				<div style="border-right:1px solid gray;">
				<div class="ms-3 me-3" >

				
				@foreach (var p in order.OrderItems)
				{
					<hr>
					<div class=" m-1">
						<div class="row">
							<div class="col-2 d-flex justify-content-center align-items-center">
										<a class="orderLink" href="detail/@p.Product.Url" style="color:black;">
											<img src="~/img/@p.Product.HomeImageUrl" width="80"> </a>
								
							</div>
							<div class="col-10" style="border-left: 1px solid gray;">
								<div class="row " style="height:100%;">
									<div class="col-6">
												<h6 style="color:gray">
													<a class="orderLink" href="@p.Product.SubCategory.Url">@p.Product.SubCategory.Name </a>>
													<a >@p.Product.Brand.Name </a>
												</h6>
										<h4>
											<a class="orderLink" href="detail/@p.Product.Url" style="color:black;">@p.Product.Name </a>
										</h4>
										<form action="" type="post">
											<input type="hidden" name="productId" value=@p.Product.Id>
											<input type="hidden" name="orderId" value=@order.Id>
											<button type="submit" disabled class="btn btn-outline-secondary btn-sm" @((int)order.State < 4 ? "disabled" : "")>To return</button>

										</form>
										

									</div>
									<div class="col-6" style="height:100%;">
										<div class="row" style="height:100%;">
											<div class="col-4 p-0">
												<div class="m-0 d-flex justify-content-center align-items-center h-100" style="border-right: 1px solid gray;border-left: 1px solid gray;">
													<h5>@p.Price &#x20BA;</h5>
												</div>

											</div>
											<div class="col-4 p-0">
												<div class="m-0 d-flex justify-content-center align-items-center border-right-2  h-100" style="border-right: 1px solid gray;">
													<h5>@p.Quantity Pieces</h5>
												</div>
													
											</div>
											<div class="col-4 p-0" style="height:100%;">
												<div class="m-0 d-flex justify-content-center align-items-center border-right  h-100">
													<h5>@(@p.Price * @p.Quantity) &#x20BA</h5>

												</div>
											</div>
										</div>

									</div>
								</div>
								
							</div>
						</div>

					</div>
					<hr>

				}
				</div>
				</div>
			</div>

			<div class="col-12 col-sm-12 col-md-12 col-lg-2">

				
				<div class=" me-2" style="height:100%">
					<hr class="mb-0">
					<div class=" d-flex-col align-items-center" style="height:100%;">
						<div class=" d-flex justify-content-center align-items-center " style="border-bottom:1px solid gray;">
								@{
									var state = (EnumOrderState)order.State;
								}
								<h4>@state</h4>

					</div>
						<div class=" d-flex justify-content-center align-items-center" style="border-bottom:1px solid gray;">
						<h4>@order.TotalPrice &#x20BA</h4>

					</div>
					<div class=" d-flex justify-content-center align-items-center mt-2">
							<form action="" type="post">
								<input type="hidden" name="productId" value=@order.Id>
								<button disabled class="btn btn-outline-secondary btn-sm " @((int)order.State > 1 ? "disabled" : "")>Cancel Order</button>

							</form>
							<form action="" type="post">
								<input type="hidden" name="productId" value=@order.Id>
								<button disabled class="btn btn-outline-secondary btn-sm ms-2" @((int)order.State < 4 ? "disabled" : "")>To return</button>

							</form>


				</div>

				</div>
			</div>
			</div>
		</div>


		@{
			var orderTime = DateTime.Now - order.OrderTime;
		}
		
	</div>

	<h6 class="mt-2 d-flex justify-content-end">@(orderTime.Days > 0 ? $"{orderTime.Days} day":"") @orderTime.Hours hour later - @order.Id</h6>

}




